

h3{
  font-weight: 100;
}

input,textarea{
  margin:0px 0px 10px 0px;
  width: 100%;
  padding:5px 20px;
  border:1px solid rgba(181, 145, 145, 0);
  background-color: rgba(255, 255, 255, 0.32);
  border-radius:5px
}
input::placeholder,textarea::placeholder{
  color:rgb(179, 177, 177);
  font-style: oblique;
}

.sombra{
    box-shadow: -1px 1px 25px -6px #25D3666f;
-webkit-box-shadow: -1px 1px 25px -6px #25D3666f;
-moz-box-shadow: -1px 1px 25px -6px #25d3656f;
}

.sombra_nav{
  box-shadow: -1px 1px 25px -6px #83ffb1;
-webkit-box-shadow: -1px 1px 25px -6px #25d365;
-moz-box-shadow: -1px 1px 25px -6px #25d365;
}

.placa{
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0px;
  cursor: pointer;
  box-shadow: -1px 1px 25px -6px rgba(0,0,0,0.05);
  -webkit-box-shadow: -1px 1px 25px -6px rgba(0,0,0,0.05);
  -moz-box-shadow: -1px 1px 25px -6px rgba(0,0,0,0.05);
  background-color: #25d36517;
  border: 1px solid #25d365;
  
}

.containerPrincipal{
    height: 100vh;
    overflow-y: auto;
    padding: 0px;
    padding-top: 0px;
    background:linear-gradient(180deg,rgba(255,255,255,1) 0%, rgb(219, 253, 231,.5) 100%);
}

.capaBase{
    margin:0px;
    padding:0px;
    padding-top:100px;
    margin-top: 0px;
}
.btn{
  background:#25D366;
  color:#ffffff;
  border:0px solid rgb(84, 194, 164);
}
.btn:hover{
  background:#25D366;
  color:#0b0b0b;
}
.btn2{
  color:#FFF;background:rgb(191, 219, 243)
}
.btn3{
  color:#25D366;
}

table{
    width:100%
}
thead{
    background:#25D366;
    color:#000
}
td,th{
  font-weight: 100;
}

tbody tr:nth-child(even){
    background-color: rgba(0,0,0,0.1);
}


.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  .modal-content{
    color:#FFF;
    background: linear-gradient(180deg,#5b5b5b 0%, #282828 100%);
    border: 0px;
  }
  .modal-content input{
    color:#FFF
  }

  .modal-footer{
    border: 0px;
  }


  .lds-ring {
    display: inline-block;
    position: relative;
    width: 176px;
    height: 176px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 18px;
    border: 18px solid #25D366;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #25D366 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .menu{
    text-decoration: none;
    color:rgb(255, 255, 255);
    cursor: pointer;
    height: 100%;
    border: 4px solid #25D366;
  }
  .menu:hover{
    color:#
  }

  .login {
    background: linear-gradient(-45deg, #25D366, #75ffa7, #51d581, #6bbeb0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .capaBase{
    background: rgb(27, 27, 27);
    height: 100vh;
    color:#FFF;
    overflow-y: auto;
  }

  .inputCapa{
    background-color: #00000024;
    color: #FFF;
  }


  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 12px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #25d365;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 0px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 0px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 12px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(12px, 0);
    }
  }
  